# Problem set 2 solutions

######

##### Question 1

######

##### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a

6

a is a global variable,
And here, b() is called thrice 
which makes the value of a = 6

######

##### Question 2

######

#####  If the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead.

In [98]:
def file_length(file_name):
    try: 
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError :
        print("File "+ file_name +" not found.")
        
    
file = "idterm.py"
file_length(file)

File idterm.py not found.

In [99]:
file = "Filelength.txt"
file_length(file)

123

######

##### Question 3

######

##### Write a class named Marsupial and perform append and display for list.

In [118]:
class Marsupial:
    def __init__(self):
        self.mylist = []
    def put_in_pouch(self,mystring):   
        self.mylist.append(mystring)
        return;
    def pouch_contents(self):
        print(self.mylist)
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

#####

##### write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial

######

##### a) extends the Marsupial __init__ constructor

In [124]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        self.x = x
        self.y = y
        Marsupial.__init__(self)
    def jump(self,dx,dy):
        self.x = self.x +dx
        self.y = self.y+dy
    def __str__ (self):
        return 'I am a Kangaroo located at coordinates (' + str(self.x) +',' + str(self.y) +')'
        
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

######

##### b) supports method jump that takes number values dx and dy as input and moves the kangaroo

In [125]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

######

##### c) overloads the __str__ operator

In [123]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

######

##### Question 4

######

##### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x

In [112]:
def collatz(x):
    counter = 0;
    if x == 1:
        print(x)
        counter + 1;
        return;
    elif x % 2 == 0:
        
        print(x)
        collatz(x//2)
        counter + 1;
        return;
    else:
        
        print(x)
        collatz(3 * x + 1)
        counter + 1;
        return;
    
  
collatz(10)

10
5
16
8
4
2
1

In [113]:
collatz(1)

1

######

##### Question 5

######

##### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [36]:
def binary(n):
    if n < 2:
        print(n,end="")
        return;

    binary(n//2)
    print(n%2,end="")
             
binary(0)
print("\n")
binary(1)
print("\n")
binary(3)
print("\n")
binary(9)

0

1

11

1001

######

##### Question 6

######

##### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document.

In [142]:
from html.parser import HTMLParser  
class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.datavalue = ''
        
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.datavalue = 'h1'
            
    def handle_data(self, data):
        if(self.datavalue == 'h1'):
            print(data,end="")
            
infile = open('w3c.html')
content = infile.read()

infile.close()
objectHP = HeadingParser()   
objectHP.feed(content)

W3C Mission
	Principles

######

##### Question 7

######

##### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent

In [149]:

from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        print(self.links)

In [151]:
def webdir(url):
    resource = urlopen(url)
    content = resource.read().decode()
    collector = Collector(url)
    collector.feed(content)
    collector.getLinks()
url = 'http://reed.cs.depaul.edu/lperkovic/test1.html'
webdir(url)

['http://reed.cs.depaul.edu/lperkovic/test2.html', 'http://reed.cs.depaul.edu/lperkovic/test3.html']

######

##### Question 8

######

##### Write SQL queries on given database table

In [77]:
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute('SELECT Temperature FROM weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

######

In [79]:
cur.execute('SELECT DISTINCT City FROM weather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

######

In [83]:
cur.execute('SELECT * FROM weather WHERE Country="India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

######

In [84]:
cur.execute('SELECT * FROM weather WHERE Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

######

In [85]:
cur.execute('SELECT City,Country,Season FROM weather WHERE Rainfall BETWEEN 200 AND 400 ')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

######

In [116]:
cur.execute('SELECT City , Country from weather WHERE Temperature > 20 AND Season="Fall" ORDER BY Temperature ASC;')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

######

In [89]:
cur.execute('SELECT SUM(Rainfall) FROM weather WHERE City="Cairo"')
cur.fetchall()

[(27.6,)]

######

In [90]:
cur.execute('SELECT SUM(Rainfall) FROM weather GROUP BY City')
cur.fetchall()

[(27.6,), (752.8,), (1917.5,)]

######

##### Question 9

##### Write list comprehension expressions that use list words and generate different lists

######

In [91]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
[x.upper() for x in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

######

In [92]:
[x.lower() for x in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

######

In [94]:
[len(x) for x in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

######

In [95]:
[[x.upper(),x.lower(),len(x)] for x in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

######

In [117]:
###### [x for x in words if len(x)>=4]

['quick', 'brown', 'jumps', 'over', 'lazy']